@{
    Layout = "~/Views/Shared/_master.cshtml";
    ViewBag.Title = "home";
}

<h2>home</h2>
<table class="table">
    <tr>
        <th>
             health
        </th>
        <th>
           wealth
        </th>
        <th>
           freedom 
        </th>
    </tr>
    <tr>
        <td>
         <img  src="~/Images/wealth.jpg" alt="wealth image" width="300" height="200"/> 
        </td>
        <td>
           <img  src="~/Images/Health.jpg" alt="health image"/>
        </td>
        <td>
            <img  src="~/Images/freedom.jpg" alt="freedom image"/>
        </td>
    </tr>
</table>
