@{
    Layout = "~/Areas/Admin/Views/Shared/_master.cshtml";
    ViewBag.Title = "Index";
}

<div class="container" style="width:1366px;height:60px">
       <div class="rows" style="height:60px;background-color:#3366cc;width:1366px;float:left;margin-left:-15px;margin-right:0px">
            <div class="col-md-4" style="color:whitesmoke;margin-top:15px"><h3>REWARDS</h3></div>
            <div class="col-md-4"  style="color:whitesmoke;margin-top:15px"><h4><b>Welcome Ganesh Upadhyay</b></h4></div>
            <div class="col-md-4"  style="color:whitesmoke;margin-top:15px"><h5><b>User ID : </b>GIC619136</h5></div>
       </div>
</div>
<!--page title end-->
<br />
<section class="content">
         <div class="row mar_gin" style="width:1381px;height:400px">        
                <div class="col-md-12" style="width:1381px">           
                     <div class="s1 table-responsive" style="width:1366px">
    			           <b>You Are Not Eligible For Rewards	</b>
                          <table class="table table-bordered" style="">
                                 <tbody>
                                       <tr>
				                           <th>Level</th>
				                           <th>Post</th>
				                           <th>Member</th>
				                           <th>Rewads</th>
				                           <th>status</th>
				                       </tr>
	                             </tbody>
                          </table>
                     </div>  
                </div>
         </div>
</section>

