@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_master.cshtml";
}


<!--page title end-->
@* ------------------------------------------------------------------------------------------------------------------------------------- *@
<section class="content" style="height:422px"> 
         <div class="row mar_gin" style="width:1381px">
              <div class="col-md-12" style="width:1381px;margin-top:40px">
                   <h4> <b> Level Report</b></h4>
                   <ul class="nav nav-tabs">
                       <li class="active"><a data-toggle="tab" href="#home">Level1</a></li>
                       <li><a data-toggle="tab" href="#menu1">Level2</a></li>
                       <li><a data-toggle="tab" href="#menu2">Level3</a></li>
                       <li><a data-toggle="tab" href="#menu3">Level4</a></li>
                       <li><a data-toggle="tab" href="#menu4">Level5</a></li>
                       <li><a data-toggle="tab" href="#menu5">Level6</a></li>
                       <li><a data-toggle="tab" href="#menu7">Level7</a></li>
                       <li><a data-toggle="tab" href="#menu8">Level8</a></li>
                       <li><a data-toggle="tab" href="#menu9">Level9</a></li>
                   </ul>
                   <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                             <div class="s1 table-responsive">
                                  <table class="table table-bordered">
                                         <tbody>
                                               <tr>
                                                   <th>Sr.No</th>
                                                   <th>User ID</th>
                                                   <th>Name</th>
                                                   <th>Upper ID</th>
                                               </tr>
                                         </tbody>
                                  </table>
                             </div> 
                        </div>
                        <div id="menu1" class="tab-pane fade">
                             <div class="s1 table-responsive">
                                   <table class="table table-bordered">
                                          <tbody>
                                                <tr>
                                                   <th>Sr.No</th>
                                                   <th>User ID</th>
                                                   <th>Name</th>
                                                   <th>Upper ID</th>
                                                 </tr>
                
               
              </tbody></table></div> 
    </div>
    <div id="menu2" class="tab-pane fade">
       <div class="s1 table-responsive"><table class="table table-bordered">
                <tbody>
                    <tr>
                  <th>Sr.No</th>
                  <th>User ID</th>
                  <th>Name</th>
                  <th>Upper ID</th>  
                </tr>
				 
               
              </tbody></table></div> 
    </div>
    <div id="menu3" class="tab-pane fade">
       <div class="s1 table-responsive"><table class="table table-bordered">
                <tbody>
                    <tr>
                  <th>Sr.No</th>
                  <th>User ID</th>
                  <th>Name</th>
                  <th>Upper ID</th>
                  
                </tr>
               
                
               
              </tbody></table></div> 
    </div>
      <div id="menu4" class="tab-pane fade">
       <div class="s1 table-responsive"><table class="table table-bordered">
                <tbody>
                    <tr>
                  <th>Sr.No</th>
                  <th>User ID</th>
                  <th>Name</th>
                  <th>Upper ID</th>
                  
                </tr>
                  
			
              </tbody></table></div> 
    </div>
      <div id="menu5" class="tab-pane fade">
       <div class="s1 table-responsive"><table class="table table-bordered">
				<tbody>
                    <tr>
                  <th>Sr.No</th>
                  <th>User ID</th>
                  <th>Name</th>
                  <th>Upper ID</th>
                  
                </tr>
                  
			
              </tbody>
               
			   </table></div> 
    </div>
     
      <div id="menu7" class="tab-pane fade">
       <div class="s1 table-responsive"><table class="table table-bordered">
				<tbody>
                    <tr>
                  <th>Sr.No</th>
                  <th>User ID</th>
                  <th>Name</th>
                  <th>Upper ID</th>
                  
                </tr>
                  
			
              </tbody>
                
                  </table></div> 
    </div>
      <div id="menu8" class="tab-pane fade">
       <div class="s1 table-responsive"><table class="table table-bordered">
				<tbody>
                    <tr>
                  <th>Sr.No</th>
                  <th>User ID</th>
                  <th>Name</th>
                  <th>Upper ID</th>
                  
                </tr>
                  
			
              </tbody>
               </table></div> 
    </div>
      <div id="menu9" class="tab-pane fade">
       <div class="s1 table-responsive"><table class="table table-bordered">
	   
		<tbody>
                    <tr>
                  <th>Sr.No</th>
                  <th>User ID</th>
                  <th>Name</th>
                  <th>Upper ID</th>
                  
                </tr>
                  
                
				</table></div> 
    </div>
  </div>

            </div>
        </div>

</section>
@* --------------------------------------------------------------------------------------------------------------------------------------- *@
