@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_master.cshtml";
}
<style type="text/css">
    ul #menu li {
        display:inline;
    }
</style>

<!--page title start-->
<div class="container" style="width:1349px;margin-left:-105px">
  <div class="row" style="background-color:#3366ff;height:100px;width:1349px">
    <div class="col-md-4"><h3 style="color:whitesmoke;margin-top:40px">Product Gallery</h3></div>
    <div class="col-md-4" style=""></div>
      <div class="col-md-4" style="margin-top:40px;text-align:right">
          <ul id="menu" style="float:right;display:inline;width:300px;list-style:none">
              <li style="display:inline"><a href="@Url.Action("Index", "home")" style="color:whitesmoke">Home</a></li>
              <li style="display:inline;margin-left:10px"><a href="@Url.Action("Index", "productgalery")" style="color:whitesmoke">Product Gallery</a></li>
          </ul>
      </div> 
    </div>
</div>
<!--page title end-->
<section class="content">
<div class="container"> 	
		<div class="">
			<div class="page-title" style="margin-top:40px">
				<div class="title_left">
					<h3>Product Gallery</h3>
				</div>
			</div>
			<div class="clearfix" style="margin-top:25px"></div>
			<div class="row">
			     <div class='list-group gallery' style="margin-left:30px;">
					  <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>				   
						   <a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1250-1.png">
							  <div class='text-right'><small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1350</small></div>
							  <img class="img-responsive" alt="" src="~/product imgs/1250-1.png" />
						   </a>
					  </div>
					  <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   <a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1250-hair.png">
							  <div class='text-right'><small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1350</small></div>
							  <img class="img-responsive" alt="" src="~/product imgs/1250-hair.png" />
							</a>
					  </div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1250.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1350</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/1250.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1350-1.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1350</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/1350-1.png" />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1350.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1350</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/1350.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1500-1.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1350</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/1500-1.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1500-2.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1350</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/1500-2.png" />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1500.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1350</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/1500.png" />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1600.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1350</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/1600.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1850-3.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1350</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/1850-3.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1700.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1350</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/1700.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1750.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1350</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/1750.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1850-1.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1350</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/1850-1.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1850-3.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1350</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/1850-3.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1850-4.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1350</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/1850-4.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1850-5.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1350</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/1850-5.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1850-6.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1500</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/1850-6.png" />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1850-7.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1500</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/1850-7.png" />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/1850.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1500</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/1850.png" />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/ladywatch.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1500</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/ladywatch.png" />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/Minilesser.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1600</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/Minilesser.png" />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/Nova Hair Strenner.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1700</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/Nova Hair Strenner.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/oppo powerbank.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1750</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/oppo powerbank.png" />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/Samsung Powerbank.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1850</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/Samsung Powerbank.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/vivo powerbank.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1850</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/vivo powerbank.png" />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/watch-1.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1850</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/watch-1.png" />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/watch-2.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1850</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/watch-2.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/watch-3.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1850</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/watch-3.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/watch-4.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1850</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/watch-4.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/watch-5.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1850</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/watch-5.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/watch.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1850</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/watch.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
						   
							<a class="thumbnail fancybox" rel="ligthbox" href="~/product imgs/sofa.png">
							<div class='text-right'>
									<small class='text-muted'  style="font-weight: bold;font-size: 16px;">MRP:1850</small>
						    </div>
								<img class="img-responsive" alt="" src="~/product imgs/sofa.png"  />
									<!--<div class='text-right'>
									<small class='text-muted'></small>
						<!-- text-right / end -->
							</a>
									<!--</div> -->
						</div>
						 
										
	</div> 
		</div></div>
</section>



