@{
    ViewBag.Title = "gallery";
    Layout = "~/Views/Shared/_master.cshtml";
}
<div class="container">
    <br />
  <div class="row">

    <div class="col-md-4" >
      <div class="thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
          <img src="~/Images/h2.png" alt="Lights" style="width:400px;height:400px">
          <div class="caption">
            
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="~/Images/f3.png" alt="Nature" style="width:400px;height:400px">
          <div class="caption">
            
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="~/Images/img1.jpg" alt="Fjords" style="width:400px;height:400px">
          <div class="caption">
           
          </div>
        </a>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
          <img src="~/Images/ivoltaa-dual-usb.jpeg" alt="Lights" style="width:400px;height:400px">
          <div class="caption">
           
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="~/Images/wealth.jpg" alt="Nature" style="width:400px;height:400px">
          <div class="caption">
            
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="~/Images/f1.png" alt="Fjords" style="width:400px;height:400px">
          <div class="caption">
           
          </div>
        </a>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
          <img src="~/Images/Health.jpg" alt="Lights" style="width:400px;height:400px">
          <div class="caption">
            
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="~/Images/freedom.jpg" alt="Nature" style="width:400px;height:400px">
          <div class="caption">
            
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="~/Images/a6.png" alt="Fjords" style="width:400px;height:400px">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>

  </div>
</div>

