
@{
    Layout = "~/Areas/Admin/Views/Shared/_master.cshtml";
    ViewBag.Title = "Index";
}

<!--page title end-->
<br />
<section class="content">
    <div class="row mar_gin" style="width:100%;height:400px">        
       <div class="col-md-12" style="width:100%">      
           <h4 style="margin-left:20px"> <b >My Re-Join Entry List</b></h4>
           <div class="s1 table-responsive" style="margin-left:20px;width:100%">
               <table class="table table-bordered">
                   <tbody>
		               <tr>
                          <th>Sr.No.</th>
                          <th>Member ID</th>
                          <th>Name</th>
		                  <th>Reg.Date</th>
                          <th>Mobile</th>  
                       </tr>
	               </tbody>
               </table>
           </div>            
       </div>
    </div>
</section>

